html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdf2f8;
    color: #c96698;
}

.data-hora {
    text-align: center;
    font-size: 35px;
    color: #f28e9b;
}

#btn-dialog-bater-ponto, #btn-bater-ponto, #btn-view-report, #btn-voltar {
    font-size: 20px;
    margin: 5px;
    background-color: #f6c3d4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.btn-editar, .btn-excluir {
    font-size: 13px;
    margin: 5px;
    background-color: #f6c3d4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#calendar, #hora-input {
 font-size: 15px;
 border: 2px solid #e6b0c7;
 border-radius: 5px;
 margin: 3px;
 font-family: 'Montserrat', sans-serif;
}

#div-btn-bater-ponto {
    text-align: center;
}

.data-hora, #alerta-registro-ponto, #div-btn-bater-ponto, dialog {
    text-align: center; 
}

#btn-bater-ponto:hover {
    background-color: #e6b0c7;
}

#alerta-registro-ponto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffe6f2;
    color: #4a4a4a;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #f28e9b;
}

#dialog-ponto {
    font-size: 18px;
    border: 2px solid #f28e9b;
    border-radius: 10px;
}

#btn-dialog-fechar {
    border: 2px solid #f28e9b;
    border-radius: 5px;
    color: #e07eaf;
    background-color: #fcf6f9;
}

select {
    padding: 10px;
    border: 2px solid #f6c3d4;
    border-radius: 10px;
    background-color: #fff;
    font-size: 15px;
}

#btn-dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show {
    opacity: 1;
    transition: opacity 0.5s ease;
}
#input-data-passada,
#input-justificativa,
#input-arquivo {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #f6c3d4;
    border-radius: 10px;
}
.retroactive {
    background-color: #ffe6f2;
    color: #e07eaf;
    font-weight: bold;
}

#arquivo-input {
    background-color: #f6c3d4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#arquivo-input:hover {
    background-color: #ffe6f2;
}

#btn-confirmar-edicao {
    background-color: #e07eaf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
#btn-confirmar-edicao:hover {
    background-color: #e07eaf;
}

#btn-cancelar-edicao {
    background-color: #e07eaf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn-cancelar-edicao:hover {
    background-color: #f6c3d4;
}

#btn-filtrar {
    background-color: #f6c3d4;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}
#btn-filtrar:hover {
    background-color: #f6c3d4;
}

#btn-ultima-semana {
    background-color: #f6c3d4;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}
#btn-ultima-semana:hover {
    background-color: #f6c3d4;
}

#btn-ultimo-mes {
    background-color: #f6c3d4;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}
#btn-ultimo-mes:hover {
    background-color: #f6c3d4;
}